# List Simple Comprehension Questions

In [3]:
'''1. Write a Python program to iterate through a string Using List Comprehension.
    Data:
        s = "constituition"
    Expected Output:
        ['c', 'o', 'n', 's', 't', 'i', 't', 'u', 'i', 't', 'i', 'o', 'n']'''
s="constituition"
char=[i for i in s]
print(char)

['c', 'o', 'n', 's', 't', 'i', 't', 'u', 'i', 't', 'i', 'o', 'n']

In [5]:
'''2. Write a Python program to print the even numbers from 0 to 20 using list Comprehension.
    Expected Output:
        [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]'''
even_num=[x for x in range(20) if x%2==0]
print(even_num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
'''3. Write a Python program to print the numbers from 0 to 100 which are divisible by 2 or 5 using list Comprehension.
    Expected Output:
    [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]'''
divisor=[x for x in range(101) if x%2==0 or x%5==0]
print(divisor)

[0, 2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [57]:
'''4. Write a Python program to generate a 3*6*9 3D array whose each element is *. '''

#doubt
x=[[['*' for col in range(6)]for col in range(4)] for row in range(3)]
print(x)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

In [7]:
'''5. Write a Python program to print the numbers of a specified list after removing even numbers from it.
    Data:
        m = [7, 8, 120, 25, 44, 20, 27]
    Expected Output:
        [7, 25, 27]'''
m=[7,8,120,25,44,20,27]
result=[num for num in m if num%2 !=0]
print(result)

[7, 25, 27]

In [11]:
'''6. Write a Python program to create a list by concatenating a given list with numbers ranges from 1 to n.
    Data:
        list : ['l', 'm']
        n = 4
    Expected Output:
        ['l1', 'm1', 'l2', 'm2', 'l3', 'm3', 'l4', 'm4']'''
list=['l','m']
n=4 
result = [item + str(i) for i in range(1,n+1) for item in list]
print(result)

['l1', 'm1', 'l2', 'm2', 'l3', 'm3', 'l4', 'm4']

In [55]:
'''7. Write a Python program to insert an element before each element of a list.
    Data:
        x = ['marvel', 'boss', 'siva']
    Expected Output:
        ['c', 'marvel', 'c', 'boss', 'c', 'siva']'''
a=['marvel','boss','siva']
c=[y for x in a for y in('c',x) ]
print(c)

['c', 'marvel', 'c', 'boss', 'c', 'siva']

In [24]:
'''8. Write a Python program to print each list on a new line from a given nested list.
    Data:
        x = [['Red'], ['Green'], ['Black']]
    Expected Output:
        ['Red']
        ['Green']
        ['Black']'''
x=[['Red'],['Green'],['Black']]
for y in x:
    print(y)

['Red']
['Green']
['Black']

In [51]:
'''9. Write a Python program to split a list after every nth element.
    Data:
        list: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
    Expected Output:
        [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]'''
list=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
n=3
def list_slice(S, step):
    return [S[i::step] for i in range(step)]
print(list_slice(list,3))
        
        #doubt

[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [27]:
'''10. Write a Python program to check whether all elements in a list are equal to the specified string.
    Data:
        x = ["green", "orange", "black", "white"]
        y = ["green", "green", "green", "green"]
    Expected Output:
        False
        True'''
x=["green","orange","black","white"]
y=["green","green","green","green"]

print(all(c=="blue" for c in x))
print(all(c=="green" for c in y))

False
True

In [39]:
'''11. Write a Python program to find a tuple from the list of tuple whose second value is the smallest.
    Data:
        x = [(4, 1), (1, 2), (6, 0)]
    Expected Output:
        (6, 0)'''

x=[(4,1),(1,2),(6,0)]
print(min(x,key=lambda n:(n[1],-n[0])))

(6, 0)

In [30]:
'''12. Write a Python program to create a list of empty dictionaries.
    Data:
        n = 5
    Expected Output:
        [{}, {}, {}, {}, {}]'''
n=5
l=[{} for x in range(n)]
print(l)

[{}, {}, {}, {}, {}]

In [38]:
'''13. Write a Python program to insert a given string at the beginning of all items of a list.  
    Data:
        list : [1, 2, 3, 4]
        string : boss
    Expected Output:
        ['boss1', 'boss2', 'boss3', 'boss4']'''
list=[1,2,3,4]
print(['boss{0}'.format(i) for i in list])

['boss1', 'boss2', 'boss3', 'boss4']

In [49]:
'''14. Write a Python program to check whether all the values in a list are > 200.
    Data:
        a = [220, 330, 500]
    Expected Output:
        True '''
a=[220,330,500]
print(all(x>200 for x in a))

True

In [59]:
'''15. Write a Python program to check whether all the dictionaries in a list are empty or not.
    Data:
        x = [{},{},{}]
        y = [{1,2},{},{}]   
    Expected Output:
        True
        False'''
x=[{},{},{}]
y=[{1,2},{},{}]
print(all(not d  for d in x))
print(all(not d for d in y))

True
False

In [62]:
'''16. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
    Data:
        List : ['baskar', 'bala', 'siva', 'sai', 'suresh', 'kumar']
    Expected Output:
        ['bala', 'siva', 'sai']'''
list=['baskar','bala','siva','sai','suresh','kumar']
a=[x for(i,x) in enumerate(list) if i not in (0,4,5) ]
print(a)

['bala', 'siva', 'sai']

In [5]:
'''17. Write a Python program to print the odd numbers as 'Odd' and even numbers as 'even' within the range(10).
    Expected Output:
        ['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']'''
check=["Odd" if x %2 ==0 else "Even" for x in range(10)]
print(check)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [4]:
'''18. Write a Python program to combine all the first element of a list of lists into a new list and 
        all the second element of a list of lists into another list. And print the two new lists as a list of lists.
    Data:
        x = [[1, 2], [3,4], [5,6], [7,8]]  
    Expected Output:
        [[1, 3, 5, 7], [2, 4, 6, 8]]'''
x=[[1,2],[3,4],[5,6],[7,8]]
first_element=[y[0] for y in x]
second_element=[y[1] for y in x]
print(first_element , ",",second_element)

[1, 3, 5, 7] , [2, 4, 6, 8]

In [15]:
''' 19. Write a Python program to print following output from given two list.
    Data:
        a = [-2, -1, 0, 1, 2, 3]
        b = [4, 5, 6, 7, 8]
    Expected Output:
        [4, 6, 8, 8, 12, 16, 12, 18, 24] '''

# Question incomplete

In [16]:
'''20. Write a Python program to print 'yes' when value is 1, 'no' when value is 2 and for any other values print 'idle' for the given data.
    Data:
        l = [1, 2, 3, 4, 5] 
    Expected Output:
        ['yes', 'no', 'idle', 'idle', 'idle']'''
l=[1,2,3,4,5]
y=[ "yes" if x == 1  else  "no" if x==2 else "idle" for x in l]
print(y)

['yes', 'no', 'idle', 'idle', 'idle']